<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/site.css">
       
    </head>
<body onload="setLoad()">
    <div id="header">
       
    </div>
    <div id="navigation">
        <ul>
            <li> <a href="/Home">Home</a></></li>
        </ul>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <br>
        <p> Developed by Shashen Thenuja for Curtin University - ©2022</p>
        <br>
    </div>
     <script src="~/js/site.js"></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>